//create a utility class for the flex-box
.flex{
    display: flex;
}
//create a utility class for the flex-box direction
.f-row{
    flex-direction: row;
}
.f-column{
    flex-direction: column;
}
//create a utility class for the flex-box justify-content
.justify-start{
    justify-content: flex-start;
}
.justify-end{
    justify-content: flex-end;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.justify-around{
    justify-content: space-around;
}
//create a utility class for the flex-box align-items
.align-start{
    align-items: flex-start;
}
.align-end{
    align-items: flex-end;
}
.align-center{
    align-items: center;
}
.align-baseline{
    align-items: baseline;
}
.align-stretch{
    align-items: stretch;
}

.wrap{
    flex-wrap: wrap;
}
.nowrap{
    flex-wrap: nowrap;
}
