//create font-size map from 100 to 800
@use './functions' as *;
$font-sizes: (
    small: (
        300: pxToRem(14),
        400: pxToRem(15),
        500: pxToRem(16),
        600: pxToRem(24),
        700: pxToRem(28),
        800: pxToRem(56),
        xl: pxToRem(80),
    ),
    medium: (
        400: 1rem, 
    ),
    large: (
        100: pxToRem(14),
        200: 1rem,
        400: pxToRem(18),
        500: pxToRem(28),
        600: 2rem,
        700: 3.5rem,
        800: 6.25rem,
        xl: 9.375rem,
    )
);

